.card-primary {
    border-radius: 12px;
    box-sizing: border-box;

    &__container {
        position: relative;
        z-index: 1;
        background-color: var(--white);
        border-radius: 12px;
        box-shadow: var(--shadow-secondary);
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    &__top {
        position: relative;
        overflow: hidden;
        display: block;
        padding-bottom: percent(207, 323);
        z-index: 20;
    }

    &__images {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__item {
        flex-grow: 1;
        cursor: pointer;

        &:first-child {
            .card-primary__image {
                opacity: 1;
                z-index: -1;
            }
        }

        @media (min-width:$smallTablet-min) {
            &:hover {
                .card-primary__image {
                    opacity: 1;
                    z-index: -1;
                }
            }
        }
    }

    &__image {
        border-radius: 12px;
        overflow: hidden;

        position: absolute;
        left: 50%;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        pointer-events: none;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

        img {
            border-radius: 12px;
            transition: transform $transitionSpeed $transitionFunction;

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__pagination {
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    .image-pagination__item {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--primaryTwo);

        &:not(:last-child) {
            margin-right: 6px;
        }
    }

    .image-pagination__item--active {
        background-color: var(--blue);
    }

    &__info {
        position: absolute;
        z-index: 3;
        top: 15px;
        padding: 0 15px;
        width: 100%;
        display: flex;
        align-items: center;

        &--tags {
            display: flex;
            align-items: center;

            .secondary-tooltip {
                width: auto;
                height: auto;

                .secondary-tooltip__btn {
                    color: var(--blue);
                    font-size: var(--small-fz);
                    line-height: 1;
                    height: 30px;
                    padding: 0 10px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    border-radius: 8px;
                    background-color: var(--white);
                    backdrop-filter: blur(2px);
                }

                .secondary-tooltip__content {
                    display: flex;
                    align-items: center;
                    padding: 16px;
                    left: 0;
                    bottom: auto;
                    top: 38px;
                    transform: translateX(-50%);
                    border-radius: 16px;
                    background-color: var(--dark);
                    border: none;

                    >span {
                        background-color: var(--white);
                        border-radius: 8px;
                        color: var(--dark);
                        height: 24px;
                        padding: 0 12px;
                        font-size: var(--very-small-fz);
                        line-height: 1;
                        white-space: nowrap;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:not(:last-child) {
                            margin-left: 0;
                            margin-right: 6px;
                        }
                    }
                }
            }

            >span {
                color: var(--blue);
                font-size: var(--small-fz);
                line-height: 1;
                height: 30px;
                padding: 0 10px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 8px;
                background-color: var(--white);
                backdrop-filter: blur(2px);
            }

        }

        &--new {
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            color: var(--white);
            font-weight: 400;
            background-color: var(--blue);
            padding: 4px 8px;

            backdrop-filter: blur(2px);
            border-radius: 8px;

            position: absolute;
            top: 0;
            right: 15px;
        }

        &--dislike {
            width: 31px;
            height: 28px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--white);
            backdrop-filter: blur(2px);
            border-radius: 8px;

            svg {
                width: 15px;
                height: 15px;
                fill: var(--blue);
                stroke: none;
            }

            .secondary-tooltip__content {
                bottom: auto;
                top: calc(28px + 8px);
                left: 0;
                width: max-content;
                max-width: 230px;
            }
        }

        &--comment {
            width: 31px;
            height: 28px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--white);
            backdrop-filter: blur(2px);
            border-radius: 8px;

            svg {
                width: 15px;
                height: 15px;
                fill: var(--blue);
                stroke: none;
            }

            .secondary-tooltip__content {
                bottom: auto;
                top: calc(28px + 8px);
                left: 0;
                width: max-content;
                max-width: 230px;
            }
        }

        &--row {
            flex-direction: column;
        }

        &--dislike-btn,
        &--like-btn {
            align-self: start;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--white);
            backdrop-filter: blur(2px);

            border-radius: 8px;

            button {
                width: 31px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: var(--white);
                z-index: 6;
                border-radius: 8px;
                transition: border-radius $transitionSpeed $transitionFunction;

                svg {
                    width: 15px;
                    height: 15px;
                    fill: var(--blue);
                }
            }

            span {
                margin-left: 2px;

                color: var(--blue);
                font-size: var(--small-fz);
                line-height: var(--small-lh);
                font-weight: 400;
                padding-right: 5px;
                z-index: 5;
                background-color: var(--white);

                width: 117px;
                border-radius: 0 8px 8px 0;
                position: absolute;
                left: 29px;
                transform: translateX(-100%);
                height: 100%;
                transition: transform $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction,
                    opacity $transitionSpeed $transitionFunction;

                visibility: hidden;
                opacity: 0;
                display: flex;
                align-items: center;
            }

            @media (min-width:$desktop) {
                &:hover {
                    button {
                        border-radius: 8px 0 0 8px;
                    }

                    span {
                        transform: translateX(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        &--like-btn {
            margin-top: 10px;
        }
        &--dislike-btn{
            span{
                width: 135px;
            }
        }
        &--btns-right {
            position: absolute;
            top: 0;
            right: 15px;
        }


        &--favorite {
            width: 30px;
            height: 30px;
            background-color: var(--white);

            border-radius: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: background-color $transitionSpeed $transitionFunction;

            svg {
                width: 15px;
                height: 15px;
                fill: var(--blue);
                stroke: none;
                transition:
                    fill $transitionSpeed $transitionFunction;
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    stroke: var(--blue);
                }
            }

            &._active {
                background-color: var(--blue) !important;

                svg {
                    fill: var(--white) !important;
                }
            }
        }

        &--controls {
            margin-top: 10px;

            .dots-dropdown__dropdown {
                min-width: max-content;
                padding: 8px 0;
            }

            .dots-dropdown__target {
                background-color: var(--white);
                width: 20px;
                height: 20px;
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;
                z-index: 3;

                svg {
                    width: 12px;
                    height: 12px;
                    fill: var(--gray);
                }

                @media (min-width:$desktop-min) {
                    &:hover {
                        background-color: var(--primary100);
                    }
                }
            }
        }

        &--note {
            margin-top: 8px;
            width: 30px;
            height: 30px;
            display: block;
            background-color: var(--white);
            border-radius: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 16px;
                height: 16px;
                fill: none;
                stroke: var(--blue);
                stroke-width: 1.5px;
            }

            .secondary-tooltip__content {
                left: auto;
                right: 38px;
                bottom: auto;
                top: 0;
                width: max-content;
                max-width: 220px;

                span {
                    color: var(--primaryTwo);
                }
            }
        }

        &--delete {
            svg {
                width: 18px;
                height: 18px;
                fill: var(--red);
            }
        }

        .row {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--mobile {
            display: flex;
            align-items: center;
        }
    }

    .card-primary__info--favorite-dropdown {
        &._active {
            .dots-dropdown__target {
                background-color: transparent;

                svg {
                    fill: var(--white);
                }
            }
        }

        .dots-dropdown__target {
            padding: 0;
            border-radius: 0;
        }

        .dots-dropdown__dropdown {
            min-width: max-content;
            width: 300px;
            padding: 8px 0;

            .select-secondary {
                width: calc(100% - 32px);
                position: relative;
                z-index: 99;
            }
        }
    }

    &__content {
        padding: 20px 24px 16px;

        @media (max-width:$smallTablet-max) {
            padding: 16px;
        }
    }

    &__price {
        margin-top: 24px;
    }

    &__price-old {
        display: flex;
        align-items: center;
        color: var(--primaryTwo);

        span {
            &:nth-child(1) {
                color: var(--primaryTwo);
                font-size: var(--default-fz);
                line-height: var(--default-lh);
                font-weight: 400;

                span {
                    position: relative;

                    &::before {
                        content: '';
                        border-bottom: 1px solid currentColor;
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        transform: rotate(-5deg);
                    }
                }
            }

            &:nth-child(2) {
                margin-left: 5px;
                padding: 3px 10px;
                color: var(--green);
                background: rgba(36, 202, 142, 0.1);
                border-radius: 8px;
                font-size: var(--default-fz);
                line-height: var(--little-small-lh);
                font-weight: 400;
            }
        }
    }

    &__price-new {
        margin-top: 2px;

        span {
            &:nth-child(1) {}

            &:nth-child(2) {
                color: var(--primaryTwo);
                font-size: var(--very-small-fz);
                line-height: 1;
                font-weight: 400;
            }
        }
    }

    &__name {}

    &__address {
        margin-top: 5px;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);

        &--one {
            display: block;
            font-weight: 500;
            color: var(--dark);
        }

        &--two {
            &:not(:first-child) {
                margin-top: 5px;
            }

            display: block;
            color: var(--primary600)
        }
    }

    &__text {
        margin-right: 17px;
        display: none;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.37%);
        }
    }

    &__bottom {
        margin-top: auto;
        border-top: 1px solid var(--primary100);
        padding: 16px 24px;

        @media (max-width:$smallTablet-max) {
            padding: 16px;
        }
    }
    &__bottom--delete{
        display: flex;
        justify-content: space-between;
        >div {
            span {
                font-size: var(--small-fz);
line-height: var(--small-lh);
                display: block;

                &:nth-child(1) {
                    font-weight: 500;
                }

                &:nth-child(2) {
                    color: var(--primaryTwo);
                }
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
    &__user {}

    &.card-primary--no-user {
        .card-primary {
            &__content {
                padding-bottom: 20px;
            }

            &__text {
                margin-bottom: 65px;
            }
        }
    }

    &.card-primary--improved {
        .card-primary {}

        .user-info {
            grid-template-columns: 40px 1fr 32px;

            &__img {
                width: 32px;
                height: 32px;
                grid-row: 1/3;
                align-self: center;
                border-radius: 50%;
            }
        }

        .card-primary__bottom {
            padding: 18px 24px;
        }

        .user-info-improved {
            padding: 0;
            border-top: none;
        }

        .dots-dropdown__dropdown {
            button {
                svg {
                    width: 15px;
                    height: 15px;
                }
            }

            @media (max-width:$desktop) {
                right: -15px;
            }
        }
    }
    &.card-primary--new{
        .card-primary__info--new{
            right: auto;
            left: 15px;
        }
    }
    @media (min-width:$desktop-min) {
        &:hover {
            .card-primary__image {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }
}
