.quantity-selection {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .checkbox {
            width: 40px;

            &:first-child {
                width: 93px;

                @media (min-width:$desktop-min) {
                    flex-grow: 1;
                    width: auto;
                }
            }

            &:not(:last-child) {
                margin-right: 3px;
            }

            @media (max-width:$mobile-max) {
                flex-grow: 1;
                width: auto;

                &:first-child {
                    width: auto;
                    flex-grow: 2;
                }

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }

        @media (max-width:$desktop) {
            margin-top: 0;
            justify-content: start;
        }
    }

    @media (max-width:$desktop) {
        border-radius: 0;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    @media (max-width:$mobile-max) {
        width: 100%;
    }
}
