.room-info {
    display: grid;
    grid-template-columns: percent(200, 968) percent(181, 968) percent(240, 968) percent(180, 968) 1fr;
    align-items: start;
    text-align: left;
    grid-column-gap: 16px;
    padding: 34.5px 24px;

    background-color: var(--white);
    border: 1px solid #EBF1FB;
    box-shadow: var(--shadow-primary);
    border-radius: 12px;

    color: var(--dark);

    font-size: var(--default-fz);
    line-height: var(--default-lh);

    &__name {
        font-size: var(--little-big-fz);;
        line-height: var(--little-big-lh);
        font-weight: 500;

        @media (max-width:$desktop) {
            order: 1;
        }
    }

    &__meter {
        font-weight: 400;

        @media (max-width:$desktop) {
            order: 2;
            flex-grow: 1;
        }
    }

    &__price {
        font-weight: 500;

        @media (max-width:$desktop) {
            order: 4;
        }
    }

    &__quantity {
        font-weight: 400;

        @media (max-width:$desktop) {
            order: 3;
        }
    }

    &__check {
        width: 30px;
        height: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        justify-self: end;

        svg {
            width: 30px;
            height: 25px;
            fill: var(--gray);

            transition: transform $transitionSpeedFast $transitionFunction;
        }

        @media (max-width:$desktop) {
            grid-column: 3/4;
            grid-row: 1/3;
            align-self: center;
            background-color: transparent;
            border-radius: 0;

            svg {
                fill: var(--blue);
            }
        }
    }

    @media (max-width:$desktop) {
        padding: 23px 16px 23px 24px;
        grid-template-columns: repeat(2, max-content) 1fr;
        grid-row-gap: 10px;
    }
}