.video-card {
    cursor: pointer;
    &__image {
        border-radius: 12px;
        padding-bottom: percent(207, 323);
        img{
        border-radius: 12px;
        }
    }

    &__title {
      margin-top: 16px;
      font-size: var(--small-fz);
      line-height: var(--small-lh);
    }
    .row{
      margin-top: 16px;
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    &__controls{
      .dots-dropdown{
        &__dropdown{
          right: 0;
          bottom: 24px;
          top: auto;
        }
      }
    }
}
