.video-card {
    cursor: pointer;
    &__image {
        border-radius: 12px;
        padding-bottom: percent(207, 323);
        img{
        border-radius: 12px;
        }
    }

    &__title {
      margin-top: 16px;
    }
}
