.buy-apartment {
    margin-bottom: 32px;

    &__body {
        @media (max-width:$desktop) {
            padding: 74px 0 16px;
            background-color: rgba(235, 241, 251, 0.4);
            border-radius: 0 0 12px 12px;
        }
    }

    &__title {
        @media (max-width:$desktop) {
            padding: 0 45px 0 $containerOffset+px;
        }
    }

    &__filter {
        margin-top: 32px;

        @media (max-width:$desktop) {
            padding: 0 $containerOffset+px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    &__sort {
        position: relative;
        z-index: 10;

        @media (max-width:$desktop) {
            padding: 0 $containerOffset+px;
            justify-content: center;
        }
    }

    &__cards-list {
        margin-top: 24px;
    }

    &__banners {
        margin-top: 40px;

        @media (max-width:$desktop) {
            margin-top: 16px;
        }
    }

    @media (max-width:$smallTablet-max) {
        margin-bottom: 16px;
    }
}

.buy-apartment-filter {
    &__row--1 {
        grid-template-columns: percent(273, 1080) percent(301, 1080) percent(262, 1080) percent(197, 1080);
    }

    &__row--2 {
        grid-template-columns: percent(245, 1080) percent(350, 1080) 1fr;
    }
}

.buy-apartment-filter--moskow {
    .buy-apartment-filter__row--1 {
        grid-template-columns: percent(273, 1080) percent(301, 1080) percent(262, 1080) percent(197, 1080);
    }

    .buy-apartment-filter__row--2 {
        grid-template-columns: percent(245, 1080) percent(350, 1080) 1fr;
    }
}
