.checkboard {
    margin: 45px auto 0;
    padding: 0;
    position: relative;
    max-width: 1246px;

    display: flex;
    justify-content: space-between;

    &__prev,
    &__next {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;

        border: 1px solid var(--blue);

        transition: opacity $transitionSpeedFast $transitionFunction,
            visibility $transitionSpeedFast $transitionFunction;

        &._active {
            opacity: 1;
            visibility: visible;
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &__prev {}

    &__next {}

    &__bottom {
        margin: 32px 0 32px 51px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:$desktop) {
            margin: 24px 0;
        }
    }

    &__bottom-info {
        display: flex;
        align-items: center;

        span {
            &:nth-child(1) {
                width: 35px;
                height: 35px;
                border-radius: 9px;
                background-color: var(--blue);
            }

            &:nth-child(2) {
                margin-left: 10px;
                color: var(--black);
                font-size: 12px;
                line-height: math.div(15, 12);
                font-weight: 500;
            }
        }
    }

    &__go-top,
    &__go-bottom {
        border: 1px solid var(--blue);
        background-color: var(--white);
        position: fixed;
        bottom: 35px;
        left: auto;
        transform: translateX(89%);

        &[hidden] {
            display: none;
        }

        @media (max-width:$desktop) {
           display: none;
        }
    }

    &__go-top {
        svg {
            transform: rotate(-90deg);
        }
    }

    &__go-bottom {
        svg {
            transform: rotate(90deg);
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
    }

    &__container {
        margin: 0 24px;
        position: relative;
        flex-grow: 1;

        @media (max-width:$desktop) {
            margin: 0 -16px 0 -16px;
            padding-left: 16px;
        }
    }

    &__inner {
        display: flex;
        align-items: flex-end;
        position: relative;
        border-radius: 12px;

        &::before {
            display: none;
        }

    }

    &__section {
        &:not(:last-child) {
            margin-right: 24px;

            @media (max-width:$desktop) {
                margin-right: 45px;
            }
        }

        &:last-child {
            @media (max-width:$desktop) {
                padding-right: 16px;
            }
        }

        @media (min-width:$desktop-min) {
            // &:first-child {
            //     .checkboard__row {

            //         &:nth-child(1),
            //         &:nth-child(2),
            //         &:nth-child(3) {
            //             .checkboard__item {
            //                 &:nth-child(2) {
            //                     .checkboard__card {
            //                         transform: translate(0);
            //                         top: -35px;
            //                         left: 98px;
            //                     }
            //                 }
            //             }
            //         }

            //         &:nth-last-child(1),
            //         &:nth-last-child(2),
            //         &:nth-last-child(3),
            //         &:nth-last-child(4) {
            //             .checkboard__item {
            //                 &:nth-child(2) {
            //                     .checkboard__card {
            //                         transform: translateX(0);
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }

            // &:not(:first-child) {
            //     .checkboard__card {
            //         transform: translateX(0) translateY(-50%);
            //         top: 50%;
            //         left: auto;
            //         right: 96px;
            //         bottom: auto;
            //     }

            //     .checkboard__row {

            //         &:nth-child(1),
            //         &:nth-child(2),
            //         &:nth-child(3) {
            //             .checkboard__card {
            //                 top: 48px;
            //                 transform: translateX(-50%);
            //                 left: 50%;
            //             }

            //             .checkboard__item {
            //                 &:last-child {
            //                     .checkboard__card {
            //                         transform: translateX(0);
            //                         left: auto;
            //                         right: 0;
            //                     }
            //                 }
            //             }
            //         }

            //         &:nth-last-child(1),
            //         &:nth-last-child(2),
            //         &:nth-last-child(3),
            //         &:nth-last-child(4) {
            //             .checkboard__item {
            //                 &:last-child {
            //                     .checkboard__card {
            //                         transform: translateX(0);
            //                         right: 96px;
            //                         left: auto;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }

            &:last-child {
                .checkboard__item {

                    &:nth-last-child(1),
                    &:nth-last-child(2) {
                        .checkboard__card {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    &__title {
        font-size: 14px;
        line-height: math.div(18, 14);
        color: var(--gray);
        margin-left: 56px;

        @media (max-width:$desktop) {
            font-size: 15px;
            margin-left: 0;
        }
    }

    &__wrapper {
        margin-top: 32px;

        @media (max-width:$desktop) {
            margin-top: 16px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        border-radius: 12px;
        padding: 1.5px 42px 1.5px 6px;

        @media (min-width:$desktop-min) {


            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4),
            &:nth-last-child(5) {
                .checkboard__card {
                    top: auto;
                    bottom: 43px;
                }
            }

            &:hover {
                background-color: rgba(0, 108, 238, 0.1);
            }
        }

        @media (max-width:$desktop) {
            border-radius: 0;
            padding: 1.5px 0px 1.5px;
        }
    }

    &__subtitle {
        font-size: 12px;
        line-height: math.div(15, 12);
        color: var(--gray);
        margin-right: 10px;
        width: 35px;
        text-align: right;

        @media (max-width:$desktop) {
            width: 30px;
            font-size: 10px;
            text-align: left;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 43px;
        width: 95px;
        border-radius: 9px;

        background-color: rgba(122, 127, 170, 0.1);
        border: 1px solid rgba(122, 127, 170, 0.35);
        border-radius: 9px;

        font-size: 12px;
        line-height: math.div(12, 10);
        color: var(--primaryTwo);

        &:not(:last-child) {
            margin-right: 3px;

            @media (max-width:$desktop) {
                margin-right: 6px;
            }
        }

        @media (max-width:$desktop) {
            width: 87px;
            font-size: 10px;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;

    }

    &__item--free {
        background-color: var(--blue);
        border: 1px solid transparent;
        transition: background-color $transitionSpeed $transitionFunction,
            color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;
        color: var(--white);
        position: relative;

        @media (min-width:$desktop-min) {
            &._active {
                background-color: var(--white);
                border: 1px solid var(--blue);
                color: var(--gray);
                font-weight: 500;
                z-index: 2;

                .checkboard__link {
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 0;

                    &::before {
                        content: 'Смотреть';
                        font-size: 12px;
                        font-weight: 500;
                    }
                }

                .checkboard__card {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__card {
        position: absolute;
        left: 2px;
        top: 43px;
        opacity: 0;
        visibility: hidden;

        width: 288px;

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        box-shadow: var(--shadow-secondary);

        .card-scheme {
            &__container {
                box-shadow: none;
                border: 1px solid rgba(122, 127, 170, 0.35);
            }
        }
    }

    .checkboard__card {
        @media (max-width:$desktop) {
            display: none;
        }
    }

    @media (max-width:$desktop) {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }
}
