.city {

    &__title {
        color: var(--primaryTwo);
        display: flex;
        align-items: center;

        svg {
            width: 8px;
            height: 10px;
            margin-right: 9px;
            fill: currentColor;
        }
    }

    &__name {
        color: inherit;
        font-size: 12px;
        line-height: math.div(15, 12);
        font-weight: 500;
    }
}
