.clients{
    .main-table{
        .main-table__type{
            padding: 0 24px;
            grid-template-columns: percent(270, 1112) percent(260,1112) percent(220,1112) percent(200,1112) 1fr;
            grid-column-gap: 32px;
            span{
                &:first-child{
                    margin: 0;
                }
                text-align: left;
                margin-left: 20px;
            }
        }
    }
}