.client {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 238px);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    &__more {
        margin-top: 24px;
        display: flex;
        align-items: center;
        color: var(--blue);

        svg {
            width: 20px;
            height: 17px;
            fill: currentColor;
            margin-left: 8px;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &._active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    .bid__import {
        margin-top: 32px;
    }

    .bid__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bid__body {
        align-self: start;
    }

    &__elements {
        margin-top: 16px;
        grid-column: 1/2;
        order: 3;
    }

    .bid__container {
        grid-template-columns: 1fr percent(300, 1112);
    }

    .bid-user {
        padding: 32px 16px;

        &__avatar {
            --size: 95px;
        }

        @media (min-width:$desktop-min) {

            &::before,
            &::after {
                height: percent(79.5, 400);
            }
        }
    }

    &__element {
        background-color: var(--white);
        border-radius: 12px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        .spollers__item {
            transition: padding-top $transitionSpeed $transitionFunction;

            &._active {
                padding-top: 24px;
            }
        }

        .spollers__title {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            border-radius: 12px;
            padding: 32px 24px;
            background-color: var(--white);
            box-shadow: var(--shadow-primary);
            transition: background-color $transitionSpeed $transitionFunction,
                width $transitionSpeed $transitionFunction,
                margin $transitionSpeed $transitionFunction;

            svg {
                width: 24px;
                height: 24px;
                transition: transform $transitionSpeedFast $transitionFunction;
            }

            &._spoller-active {
                background-color: var(--stand-bg);
                margin: 0 24px;
                width: calc(100% - 48px);

                svg {
                    transform: rotate(-180deg);
                }
            }
        }


        .spollers__body {
            padding: 24px;
        }

        .bid__body {
            padding: 0;
            box-shadow: none;
            border-radius: 0;
            background-color: transparent;
        }

        .card-primary {
            &__info--new {
                right: auto;
                left: 15px;
                font-size: 10px;
            }

            &__name {
                font-size: 12px;
            }

            &__address-one {
                font-size: 10px;
            }

            &__content {
                padding: 16px;
            }

            &__price {
                &-old {
                    span {
                        &:nth-child(1) {
                            font-size: 12px;
                        }

                        &:nth-child(2) {
                            font-size: 10px;
                        }
                    }
                }

                &-new {
                    span {
                        &:nth-child(1) {
                            font-size: 15px;
                        }
                    }
                }
            }

            &__bottom {
                margin-top: auto;
                border-top: 1px solid var(--primary100);
                padding: 16px;

                display: flex;
                justify-content: space-between;

                >div {
                    span {
                        font-size: 12px;
                        display: block;

                        &:nth-child(1) {
                            font-weight: 500;
                        }

                        &:nth-child(2) {
                            color: var(--primaryTwo);
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }
        }

        &--purchase {
            .tabs-primary {
                margin-top: 32px;

                &__container {
                    padding: 0;
                    border-radius: 0;
                    background-color: transparent;

                    .main-table {
                        padding: 0;
                    }
                }
            }

            .bid__start {
                justify-content: start;

                .bid__title {
                    margin-right: auto;
                }
            }

            .main-table__type {
                margin: 0 24px;

                span {
                    &:first-child {
                        margin: 0;
                    }
                }
            }

            .object-info-secondary {
                font-size: 14px;

                &__name-price {
                    span {
                        display: block;

                        &:nth-child(1) {
                            font-weight: 500;
                            margin-bottom: 8px;
                        }

                        &:nth-child(2) {}
                    }
                }

                &__result {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: var(--blue);
                        margin-right: 6px;
                    }
                }

                .delete-btn {
                    padding: 0;
                }

                &:nth-child(2) {
                    font-size: 12px;
                }
            }
        }

        &--sale {
            .client-info {
                &__address {
                    display: flex;
                    align-items: center;

                    svg {
                        stroke: var(--primaryTwo);
                        width: 14px;
                        height: 14px;
                        fill: none;
                        stroke-width: 1.5px;
                    }
                }

                &__name-geo {
                    span {
                        display: block;

                        &:nth-child(1) {
                            font-weight: 500;
                            color: var(--dark);
                            margin-bottom: 8px;
                        }

                        &:nth-child(2) {
                            color: var(--primary600);
                            font-size: 14px;
                            line-height: 1.2666666667;
                        }
                    }
                }

                &__type {
                    background-color: var(--primary200);
                    padding: 4px 12px;
                    border-radius: 8px;
                }
            }

            .edit-btn {
                margin-left: auto;
                display: flex;
                margin-bottom: 16px;
            }
        }
        &--views{
            .main-table__type{
                margin: 0 24px;
                grid-column-gap: 32px;
                >span{
                    &:nth-child(1){
                        margin: 0;
                    }
                }
            }
            .object-info-secondary{
                font-size: 14px;
                grid-column-gap: 32px;
                &__name-user{
                    >div{
                        &:nth-child(1){
                            font-weight: 500;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }

    .bid-user__btns {
        width: 100%;
        margin-top: 32px;
    }

    .bid-user__btn {
        margin: 0;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .bid__sidebar {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .bid__body {
        grid-column: 1/2;
    }
}
