.filter {
    &__container {
        @media (max-width:$desktop) {
            display: flex;
            flex-direction: column;
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            min-height: var(--vh);
            height: 100%;
            background-color: var(--white);
            pointer-events: none;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction;

            opacity: 0;
            visibility: hidden;

            &.active {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--white);
        padding: 16px 15px;
        width: 100%;

        @media (min-width:$desktop) {
            display: none;
        }

        span {
            color: var(--dark);
            font-size: 18px;
            line-height: math.div(23, 18);
            font-weight: 500;
        }
    }

    &__close {
        color: var(--blue);
        font-size: 12px;
        line-height: math.div(15, 12);
        font-weight: 400;
    }

    &__btn {
        width: 100%;
        font-size: 14px;
        line-height: math.div(18, 14);
        font-weight: 400;
        color: var(--gray);
        padding: 0 25px;
        height: 41px;
        background-color: var(--stand-bg);
        border: 1px solid var(--primary200);

        svg {
            --size: 20px;
            width: var(--size);
            height: var(--size);
            flex: 0 0 var(--size);
            stroke: currentColor;
            fill: none;
            margin-right: 10px;
        }

        @media (min-width:$desktop-min) {
            display: none;
        }
    }

    &__inner {
        @media (max-width:$desktop) {
            margin: 0;
            grid-row-gap: 24px;
            grid-row-gap: 0;
            padding: 24px 16px 32px;
            height: calc(var(--vh) - 55px - 79px);
            overflow-y: auto;

            display: flex;
            flex-direction: column;
        }
    }

    &__row {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-column-gap: 8px;
        margin-bottom: 16px;

        @media (min-width:$desktop-min) {
            &[hidden] {
                display: none;
            }
        }

        @media (max-width:$desktop) {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    &__item {
        @media (max-width:$desktop) {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    &__controls {
        padding-top: 8px;
        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            margin-top: auto;
            padding: 16px 15px;
            background-color: var(--white);
            box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
        }
    }

    &__clear {
        margin-left: auto;
        margin-right: 16px;
        padding: 0 80px;

        @media (max-width:$desktop) {
            padding: 0 20px;
            width: 30%;
        }
    }

    &__go {
        padding: 0 37px;

        @media (max-width:$desktop) {
            padding: 0 20px;
            width: 70%;
        }
    }

    &__btn-control {
        align-self: start;
        position: relative;
        z-index: 4;
        color: var(--blue);
        display: flex;
        align-items: center;

        span {
            font-size: 12px;
            line-height: math.div(15, 12);
            font-weight: 400;
        }

        svg {
            width: 20px;
            height: 17px;
            fill: currentColor;
            margin-left: 8px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &.focus-visible {
            color: var(--primary600);
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: 1px solid var(--primary200);
        padding: 0 16px;
        border-radius: 12px;
        height: 45px;

        .btn {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                fill: var(--primaryTwo);
            }
        }

        input {
            border: none;
            flex-grow: 1;
            padding-left: 16px;
            padding-right: 16px;
            color: var(--primaryTwo);
            font-size: 15px;
            line-height: math.div(19, 15);
            background-color: transparent;
        }

        @media (max-width:$desktop) {
            width: 100%;
        }
    }
}

.filter--more {
    &._active {
        .filter__btn-control {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    @media (max-width:$desktop) {
        margin-bottom: 24px;
    }
}

.filter-dropdown {
    position: relative;

    &__subtitle {
        display: block;
        grid-column: 1/-1;
        color: var(--primaryTwo);
        font-size: 14px;
        line-height: math.div(18, 14);
        margin-bottom: 10px;

        @media (max-width:$desktop) {
            margin-bottom: 8px;
            font-size: 12px;
        }
    }
    &__close{
        position: absolute;
        top: 16px;
        right: 16px;

        svg{
            transform: rotate(-180deg);
            width: 20px;
            height: 20px;
        }
    }
    &__button {
        height: 45px;
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--primary200);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        -webkit-tap-highlight-color: transparent;
        transition: border-radius $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        svg {
            width: 20px;
            height: 20px;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &.focus-visible {
            border: 1px solid var(--blue);
        }
    }

    &__button-wrapper {
        font-size: 14px;
        line-height: math.div(18, 14);
        color: var(--gray);
        font-weight: 400;
        flex-grow: 1;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        margin-right: 8px;

        >div {
            transition: color $transitionSpeed $transitionFunction;

            &:nth-child(2) {
                opacity: 0.6;
            }
        }

        &._active {
            display: grid;
            grid-template-columns: max-content max-content max-content 1fr max-content;
            grid-column-gap: 10px;
            align-items: center;
            justify-content: start;

            >div {
                opacity: 1;

                &:nth-child(1) {
                    color: #b6d5f8;
                }
            }
        }
    }

    &.active {
        .filter-dropdown__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(4px);
        }

        .filter-dropdown__button {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 15px;
        grid-column-gap: 16px;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 32px;

            @media (max-width:$smallTablet-max) {
                margin-bottom: 24px;
            }
        }

        &:not(.active) {
            .filter-dropdown {
                &__range {
                    cursor: default;
                    pointer-events: none;
                }
            }

            .filter-range__subtitle {
                color: rgba(122, 127, 170, 0.3);
            }

            .filter-range {
                &__nav {
                    div {
                        color: rgba(122, 127, 170, 0.3);
                    }
                }

                .noUi-connect {
                    background-color: rgba(122, 127, 170, 0.3);
                }

                .noUi-target {
                    background-color: rgba(122, 127, 170, 0.3);
                }

                .noUi-touch-area {
                    background-color: rgba(122, 127, 170, 0.3);
                }
            }
        }

        &.active {
            .filter-dropdown {
                &__choice {
                    background-color: var(--primary100);
                    border: 1px solid var(--primaryTwo);

                    svg {
                        stroke: var(--primaryTwo);
                    }
                }
            }
        }

        @media (max-width:$smallTablet-max) {
            grid-column-gap: 8px;
        }
    }

    &__dropdown {
        position: absolute;
        min-width: 380px;
        z-index: 44;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, .16);
        border-radius: 12px;
        padding: 24px 24px 32px 24px;

        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;

        transition: transform $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        &--left {
            right: auto;
            left: 0;
        }

        @media (max-width:$smallTablet-max) {
            min-width: 320px;
            padding: 16px 16px 32px 16px;
            left: -16px;
            right: auto;
            width: calc(100% + 32px);
        }
    }



    &__choice {

        flex: 0 0 15px;
        width: 15px;
        height: 15px;

        background-color: var(--red);
        border: 1px solid var(--red);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        svg {
            width: 8px;
            height: 8px;
            stroke: var(--white);
            transition: stroke $transitionSpeed $transitionFunction;
        }
    }

    &__range {
        width: 100%;
        margin-right: 16px;
        transition: opacity $transitionSpeed $transitionFunction;
    }

    &--improved {
        .filter-dropdown {
            &__item {
                grid-template-columns: 100%;
            }
        }

        .filter-range {
            &__nav {
                span {
                    margin-right: 8px;
                    display: inline-block;
                }
            }
        }

        &.active {}
    }

    &--one {
        .filter-dropdown__button-wrapper._active {
            grid-template-columns: repeat(2, max-content);
            justify-content: space-between;
        }

        .filter-range-one {
            height: 45px;

            .noUi-target {
                bottom: -8px;
            }
            &__nav{
                >div{
                    &:nth-child(2){
                        font-weight: 500;
                        margin-left: 16px;
                    }
                }
            }
        }

        .filter-dropdown__item {
            &:not(.active) {
                .filter-dropdown {
                    &__range {
                        cursor: default;
                        pointer-events: none;
                    }
                }

                .filter-range-one {
                    &__nav {
                        div {
                            color: rgba(122, 127, 170, 0.3);
                        }
                    }

                    .noUi-connect {
                        background-color: rgba(122, 127, 170, 0.3);
                    }

                    .noUi-target {
                        background-color: rgba(122, 127, 170, 0.3);
                    }

                    .noUi-touch-area {
                        background-color: rgba(122, 127, 170, 0.3);
                    }
                }
            }
        }
    }

    @media (max-width:$desktop) {
        width: 100%;
    }
}

.select-dropdown-checkbox {
    position: relative;
    z-index: 5;

    &__button {
        display: grid;
        grid-template-columns: max-content 1fr 20px;
        grid-column-gap: 8px;
        align-items: center;
        text-align: left;
        background-color: var(--stand-bg);
        border: 1px solid var(--primary200);
        padding: 0 16px;
        border-radius: 12px;
        width: 100%;
        height: 45px;

        cursor: pointer;

        transition: border-radius $transitionSpeed $transitionFunction;

        svg {
            width: 20px;
            height: 20px;
            fill: var(--gray);
            transition: transform $transitionSpeed $transitionFunction;
        }

        @media (max-width:$desktop) {
            padding: 11.5px 16px 11.5px;
        }
    }

    &__placeholder {
        font-size: 14px;
        line-height: 1;
        color: var(--gray);
    }

    &__title {
        font-size: 14px;
        line-height: math.div(19, 15);
        color: var(--gray);
        font-weight: 400;


        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        opacity: 0.6;
        text-align: right;
        margin-left: 16px;
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 3;

        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
        border-radius: 12px;


        display: flex;
        flex-direction: column;
        align-items: start;

        padding: 16px 32px 16px 16px;
        width: 100%;

        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        .checkbox-secondary {
            animation-name: fade;
            animation-duration: 0.6s;

            display: flex;
            align-items: center;

            &__text {
                font-size: 15px;
            }

            .secondary-tooltip {
                margin-left: 6px;
                width: 18px;
                height: 18px;

                &__btn {
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }

                &__content {
                    min-width: 85px;
                    left: 20px;
                    padding: 12px;
                }
            }

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        @media (max-width:$desktop) {
            width: 100%;
            border-radius: 0 0 12px 12px;
        }
    }

    &._active {
        .select-dropdown-checkbox {
            &__button {

                svg {
                    transform: rotate(180deg);
                }
            }

            &__dropdown {
                opacity: 1;
                visibility: visible;
                transform: translateY(4px);
            }
        }
    }

    &._selected {
        .select-dropdown-checkbox {
            &__placeholder {
                color: #b6d5f8;
            }

            &__title {
                opacity: 1;
            }
        }
    }
}

.filter-range {
    padding: 0 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--stand-bg);
    border: 1px solid var(--primary200);
    border-radius: 12px;
    height: 45px;

    .filter-range__nav {
        display: grid;
        grid-template-columns: 1fr max-content 1fr max-content;
        grid-column-gap: 15px;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        >div,
        label {
            display: flex;
            align-items: center;
            color: var(--gray);
            font-size: 14px;
            line-height: math.div(17, 14);
            height: 100%;
            overflow: hidden;
            white-space: nowrap;

            input {
                border-radius: 0;
                border: none;
                background-color: transparent;
                color: inherit;
                width: 100%;
                height: 100%;

                &::placeholder {
                    opacity: 0.8;
                }
            }

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }

            &:nth-child(4) {
                font-weight: 500;
            }
        }
    }

    .noUi-target {
        border: none;
        box-shadow: none;
        background-color: var(--primary200);
        // bottom: -0.9px;
        bottom: -16px;
    }

    .noUi-horizontal {
        height: 2px;

        .noUi-handle {
            width: 13px;
            height: 13px;
            top: -6px;

            &.noUi-handle-upper {
                right: -4px;
            }

            &.noUi-handle-lower {
                right: -4px;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    .noUi-handle {
        border: none;
        box-shadow: none;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .noUi-touch-area {
        background-color: var(--blue);
        border: 1px solid var(--white);
        border-radius: 50%;
    }

    .noUi-connect {
        background-color: var(--blue);
    }

    .noUi-connects {
        border-radius: 0;
    }

    @media (max-width:$desktop) {
        width: 100%;
    }

    &--improved {

        .filter-range__nav {
            span {
                transition: opacity $transitionSpeed $transitionFunction,
                    color $transitionSpeed $transitionFunction;
            }

            >label {
                span {
                    opacity: 0.8;
                }

                input {
                    margin-left: 8px;
                }
            }
        }

        &._selected {
            .filter-range__nav {
                span {
                    opacity: 1;
                    color: #b6d5f8;
                }
            }
        }
    }
}

.filter-range-one {
    padding: 8px 16px 0;
    background-color: transparent;
    border: 1px solid var(--primary200);
    border-radius: 12px;

    &__subtitle {
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        display: block;
        color: var(--primaryTwo);
    }

    .filter-range-one__nav {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7.5px;

        div {
            color: var(--gray);
            font-size: 15px;
            line-height: math.div(19, 15);

            overflow: hidden;
            white-space: nowrap;

            input {
                margin-left: 1px;
                border-radius: 0;
                border: none;
                width: 100%;
                background-color: transparent;
                color: inherit;
            }

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    .noUi-target {
        border: none;
        box-shadow: none;
        background-color: var(--primary200);
        bottom: -1px;

        @media (max-width:$desktop) {
            bottom: 0px;
        }
    }

    .noUi-horizontal {
        height: 2px;

        .noUi-handle {
            width: 13px;
            height: 13px;
            top: -4px;

            &.noUi-handle-lower {
                right: -4px;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    .noUi-handle {
        border: none;
        box-shadow: none;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .noUi-touch-area {
        background-color: var(--blue);
        border: 1px solid var(--white);
        border-radius: 50%;
    }

    .noUi-connect {
        background-color: var(--blue);
    }

    &._disabled {
        pointer-events: none;
        opacity: 0.6;

        .filter-range__subtitle {
            color: rgba(122, 127, 170, 0.3);
        }

        .noUi-connect {
            background-color: rgba(122, 127, 170, 0.3);
        }

        .noUi-target {
            background-color: rgba(122, 127, 170, 0.3);
        }

        .noUi-touch-area {
            background-color: rgba(122, 127, 170, 0.3);
        }
    }
}



.search-select {
    position: relative;

    &__button {
        height: 45px;
        width: 100%;
        background-color: var(--stand-bg);
        border: 1px solid var(--primary200);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        -webkit-tap-highlight-color: transparent;
        transition: border-radius $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        svg {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &.focus-visible {
            border: 1px solid var(--blue);
        }
    }

    &__button-wrapper {
        font-size: 14px;
        line-height: math.div(18, 14);
        color: var(--gray);
        font-weight: 400;
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-right: 8px;

        >div {
            transition: color $transitionSpeed $transitionFunction;

            &:nth-child(2) {
                margin-left: 16px;
                opacity: 0.6;

                font-size: 14px;
                line-height: math.div(18, 14);
                color: var(--gray);
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
                flex-grow: 1;
                white-space: nowrap;
            }
        }

        &._active {
            >div {
                &:nth-child(1) {
                    color: #b6d5f8;
                    white-space: nowrap;
                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }

    &__dropdown {
        position: absolute;
        min-width: 380px;
        z-index: 44;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, .16);
        border-radius: 12px;
        padding: 24px 24px 16px 24px;

        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;

        transition: transform $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        &--left {
            right: auto;
            left: 0;
        }

        @media (max-width:$smallTablet-max) {
            min-width: 320px;
            padding: 16px 16px 32px 16px;
            left: -16px;
            right: auto;
            width: calc(100% + 32px);
        }

        .simplebar-track.simplebar-vertical {
            margin-right: -24px;
        }
    }

    &__input {}

    &__wrapper {
        margin-top: 16px;
        max-height: 185px;
    }

    &__item {
        .checkbox-secondary {
            &__input {
                @media (min-width:$desktop-min) {
                    &:hover {
                        +.checkbox-secondary__label {
                            .checkbox-secondary__text {
                                color: var(--primary200);
                            }
                        }
                    }
                }

                &:checked {
                    +.checkbox-secondary__label {
                        .checkbox-secondary__text {
                            color: var(--blue);
                        }
                    }
                }
            }

            &__label {
                justify-content: space-between;

                &::after {
                    left: auto;
                    right: 0;
                }
            }

            &__text {
                flex-grow: 1;
                margin: 0 8px 0 0;
                order: -1;
                display: flex;
                align-items: center;
                transition: color $transitionSpeed $transitionFunction;

                img {
                    margin-left: auto;
                    height: 22px;
                    max-width: 75px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &._active {
        .search-select__button {
            svg {
                transform: rotate(-180deg);
            }
        }

        .search-select__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(4px);
        }
    }
}

.search-select-one {
    position: relative;

    &__button {
        height: 45px;
        width: 100%;
        background-color: var(--stand-bg);
        border: 1px solid var(--primary200);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        -webkit-tap-highlight-color: transparent;
        transition: border-radius $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        svg {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &.focus-visible {
            border: 1px solid var(--blue);
        }
    }

    &__button-wrapper {
        font-size: 14px;
        line-height: math.div(18, 14);
        color: var(--gray);
        font-weight: 400;
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-right: 8px;

        >div {
            transition: color $transitionSpeed $transitionFunction;
            white-space: nowrap;

            &:nth-child(2) {
                margin-left: 16px;
                opacity: 0.6;

                font-size: 14px;
                line-height: math.div(18, 14);
                color: var(--gray);
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
                flex-grow: 1;
                white-space: nowrap;
            }
        }

        &._active {
            >div {
                &:nth-child(1) {
                    color: #b6d5f8;

                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }

    &__input {
        margin-left: 16px;
    }

    &__dropdown {
        position: absolute;
        min-width: 380px;
        z-index: 44;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, .16);
        border-radius: 12px;
        padding: 16px 16px 16px 0px;

        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;

        transition: transform $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        &--left {
            right: auto;
            left: 0;
        }

        @media (max-width:$smallTablet-max) {
            min-width: 320px;
            padding: 16px 16px 32px 16px;
            left: -16px;
            right: auto;
            width: calc(100% + 32px);
        }

        .simplebar-track.simplebar-vertical {
            margin-right: -16px;
        }
    }

    &__input {}

    &__wrapper {
        margin-top: 16px;
        max-height: 185px;
    }

    &__item {
        padding: 12px 16px;
        font-size: 14px;
        line-height: math.div(18, 14);
        cursor: pointer;

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: #f2f2f2;
            }
        }

        &._active {
            opacity: 0.45;
            pointer-events: none;
        }
    }

    &._active {
        .search-select-one__button {
            svg {
                transform: rotate(-180deg);
            }
        }

        .search-select-one__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(4px);
        }
    }

    &._selected {
        .search-select-one__button-wrapper {
            >div {
                &:nth-child(1) {
                    color: #b6d5f8;
                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }

    ._error-span {
        display: block;
        color: var(--red);
        font-size: 12px;
        line-height: 1;
        margin-top: 4px;
        margin-left: 8px;
    }

    &._error {
        .search-select-one__button {
            border: 1px solid var(--red);
        }

        .search-select-one__button-wrapper {
            >div {
                &:nth-child(1) {
                    color: var(--red);
                }
            }
        }
    }
}
