.gallery-primary-container {
    .lg-media-overlap .lg-toolbar {
        background-image: none;

        @media (max-width:$tablet-max) {
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: end;
        }

    }

    .lg-toggle-thumb {
        display: none;
    }

    .lg-outer {
        background-color: var(--white);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        border-radius: 12px 12px 0 0;
        height: calc(100% - 65px);
        bottom: 0;
        top: auto;

        @media (max-width:$tablet-max) {
            height: 100%;
            border-radius: 0;
        }
    }

    .lg-outer .lg-content {
        border-radius: 12px 12px 0 0;
        height: calc(100% - 181px - 16px);
        width: calc(100% - 96px);
        position: relative;
        margin: 65px auto 0;
        overflow: hidden;

        .lg-inner {
            height: 100%;
            position: relative;
            background: rgba(22, 22, 22, 0.7);

            .lg-item {
                height: 100%;

                .lg-image {
                    height: 100%;
                    max-width: 85vw;

                    @media (max-width:$tablet-max) {
                        height: auto;
                        max-width: 100%;
                    }
                }

                .lg-video-cont {
                    height: 100%;
                    max-width: 85vw;

                    .lg-video-poster {
                        height: auto !important;
                        max-width: 100%;

                        top: 50%;
                        transform: translateY(-50%);
                    }

                    @media (max-width:$tablet-max) {
                        height: 100%;
                        max-width: 100%;


                    }
                }

                &.lg-video-loaded {


                    .lg-video-cont {
                        width: 100%;
                        max-width: 100%;
                    }
                }

                @media (max-width:$tablet-max) {
                    width: 100%;
                }
            }
        }

        @media (max-width:$tablet-max) {
            width: 100%;
            height: calc(100% - 181px);
        }
    }

    .lg-close {
        display: none;
    }

    .lg-components {
        position: static;
    }

    .gallery-primary-container__close {
        margin: 10px 10px 0 0;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        color: var(--blue);
        transition: color $transitionSpeed $transitionFunction;

        svg {
            width: 20px;
            height: 20px;
            fill: currentColor;

            @media (max-width:$tablet-max) {
                display: none;
            }
        }

        &:hover {
            color: var(--primary500);
        }

        span {
            font-size: 12px;
            line-height: math.div(15, 12);
            font-weight: 500;

            @media (min-width:$desktop-min) {
                display: none;
            }
        }

        @media (max-width:$tablet-max) {
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0 16px;
        }
    }

    .gallery-primary-container__prev {
        background-color: transparent;
        z-index: 1084;
        left: 16px;
        width: 32px;
        height: 32px;

        @media (max-width:$tablet-max) {
            left: 8px;
            height: 50%;
        }
    }

    .gallery-primary-container__next {
        background-color: transparent;
        z-index: 1084;
        right: 16px;
        width: 32px;
        height: 32px;

        @media (max-width:$tablet-max) {
            right: 8px;
            height: 50%;
        }
    }

    .lg-outer .lg-thumb-outer {
        background-color: rgba(22, 22, 22, 0.9);
        width: calc(100% - (48px * 2));
        margin-left: 48px;
        margin-bottom: 16px;
        border-radius: 0 0 12px 12px;
        height: 116px;

        @media (max-width:$tablet-max) {
            margin-bottom: 0;
            width: 100%;
            margin-left: 0;
            border-radius: 0;
        }
    }

    .lg-counter {
        padding: 6px;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1084;

        background: rgba(22, 22, 22, 0.7);
        border-radius: 8px;
        height: auto;

        font-size: 12px;
        line-height: 100%;
        font-weight: 500;
        color: var(--white);

        display: flex;
        align-items: center;

        @include fontCofo;
    }

    .lg-thumb {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .lg-group {
            margin: 0;
        }

        @media (max-width:$tablet-max) {
            padding: 0 12px;
        }
    }

    .lg-next,
    .lg-prev {
        display: none;
    }

    .lg-outer .lg-img-wrap {}

    .lg-img-wrap {}

    .lg-outer .lg-thumb-item {
        border: 2px solid transparent;
        position: relative;
        margin-bottom: 0;
        border-radius: 12px;

        &::before {
            content: '';
            background-color: rgba(22, 22, 22, 0.2);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity $transitionSpeed $transitionFunction;
        }

        &.active {
            border: 2px solid var(--blue);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    .lg-backdrop {
        background: rgba(34, 41, 102, 0.4);
    }
}
