.genplan {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: var(--vh);

    &__wrapper {
        width: 100%;
        max-height: var(--vh);

        @media (max-width:$desktop) {
            position: absolute;
            min-height: auto;
            top: 0;
            left: 0;
            height: 100%;
            display: block;
            width: max-content;
        }
    }

    img {
        width: 100%;

        @media (max-width:$desktop) {
            width: auto;
            height: 100%;
        }
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;

        @media (max-width:$desktop) {
            height: 100%;
        }
    }

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 26, 52, 0.65);

        z-index: 5;

        opacity: 0;
        visibility: hidden;

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        svg {
            width: 200px;
            height: auto;
            fill: var(--white);
        }

        &._active {
            opacity: 1;
            visibility: visible;
        }

        &.hidden {
            display: none;
        }

        @media (min-width:$desktop-min) {
            display: none;
        }
    }

    &__mark {
        position: absolute;
        z-index: 5;
        margin: -5px;
        padding: 5px;
        cursor: pointer;

        >button {
            width: 26px;
            height: 26px;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            color: var(--dark);
            font-weight: 500;
            box-shadow: var(--shadow-primary);
            border-radius: 50%;
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);

        }

        &>div {
            width: max-content;
            max-width: 400px;
            min-width: 400px;
            background-color: var(--white);
            border: 1px solid rgba(122, 127, 170, 0.2);
            border-radius: 12px;
            padding: 24px;
            position: absolute;
            bottom: 0;
            left: 0px;
            opacity: 0;
            visibility: hidden;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction;
            cursor: default;
        }

        &._active {
            >div {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .visual-element {
        fill: rgba(0, 91, 255, 0.3);
        stroke: var(--blue);
        stroke-width: 1.4px;
    }

    .visual-info {
        position: absolute;
        z-index: 4;
        height: 26px;

        display: flex;
        align-items: center;

        &__icon {
            width: 26px;
            height: 26px;

            background-color: var(--white);
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            z-index: 5;
            transition: background-color $transitionSpeed $transitionFunction;

            img {
                width: 18px;
                height: 18px;
                transition: filter $transitionSpeed $transitionFunction;
            }
        }

        &__content {
            height: 100%;
            color: var(--dark);
            background-color: var(--white);

            display: flex;
            align-items: center;

            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--white);
            box-shadow: var(--shadow-primary);
            border-radius: 13px;
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 500;
            padding: 0 12px 0 32px;
            width: auto;
            white-space: nowrap;

            pointer-events: none;
            max-width: 0;
            opacity: 0;
            visibility: hidden;

            transition: max-width $transitionSpeed $transitionFunction,
                opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction;
        }

        &._content-left {
            .visual-info {
                &__content {
                    right: 0;
                    left: auto;
                    padding: 0 32px 0 12px;
                }
            }
        }

        &._active {
            .visual-info {
                &__icon {
                    background-color: var(--blue);

                    img {
                        filter: brightness(0) invert(1);
                    }
                }

                &__content {
                    max-width: 250px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }
    }

    @media (max-width:$desktop) {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100%;
        z-index: 2;
        width: 100%;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.genplan-mark {

    &__title {
        font-weight: 500;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &__term {
        color: var(--primary600);
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
    }

    &__floor {
        margin-left: 30px;
        color: var(--primary600);
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%) translateX(-100%);

            width: 10px;
            height: 10px;
            background-color: #D9D9D9;
            border-radius: 50%;
        }
    }

    .spollers {

        &__item {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            width: 100%;

            span {
                transition: color $transitionSpeed $transitionFunction;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    font-size: var(--default-fz);
                    line-height: var(--little-small-lh);
                    font-weight: 400;
                }

                &:nth-child(1) {
                    color: var(--primaryTwo);
                }

                &:nth-child(2) {
                    margin-left: 16px;
                    color: var(--primaryTwo);
                }

                &:nth-child(3) {
                    text-align: left;
                    margin-left: auto;
                    padding-left: 16px;
                    width: 145px;
                    color: var(--dark);
                    font-weight: 500;
                }
            }

            svg {
                margin-left: 4px;
                width: 20px;
                height: 20px;
                fill: var(--primaryTwo);
                transform: rotate(-90deg);
                transition: fill $transitionSpeed $transitionFunction;
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    span {
                        color: var(--blue);
                    }

                    svg {
                        fill: var(--blue);
                    }
                }
            }

            &._spoller-active {
                svg {
                    transform: rotate(0);
                    fill: var(--blue);
                }
            }
        }

        &__body {
            margin-top: 8px;

            >div {
                margin-right: 8px;
                display: flex;
                flex-direction: column;
                align-items: end;

                .btn {
                    color: var(--blue);
                    font-size: var(--default-fz);
                    line-height: var(--little-small-lh);
                    font-weight: 400;
                    width: 190px;
                    text-align: right;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:not(:first-child) {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    &__mortgage {
        margin-top: 32px;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            &:nth-child(1) {
                color: var(--primaryTwo);
            }

            &:nth-child(2) {
                margin-right: 14px;
                color: var(--blue);
                font-weight: 500;
                width: 145px;
            }
        }
    }
    &__tags{
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 8px;
       span{
        background-color: var(--primary100);
        border-radius: 8px;
        color: var(--dark);
        height: 24px;
        padding: 0 12px;
        font-size: var(--very-small-fz);
        line-height: 1;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
       }
    }
}
