.header {

    &__top {}

    &__main {
        position: relative;
        height: 70px;
        background-color: var(--white);
    }
}

.header-top {
    padding: 16px 0 15px;
    background-color: var(--primary100);

    &__container {
        display: flex;
        align-items: center;
    }

    &__city {}

    &__actions {
        display: flex;
        align-items: center;

        margin-left: auto;
        margin-right: 70px;
    }

    &__action {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__personal {}
}

.header-action {
    &--add {}

    &--calendar {}

    &--chat {
        .header-action__title {
            svg {
                width: 19px;
                height: 19px;
            }
        }
    }

    &__title {
        color: var(--primaryTwo);
        display: flex;
        align-items: center;
        position: relative;

        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }

    &__name {
        margin-left: 10px;
        font-size: 12px;
        line-height: math.div(15, 12);
    }

    &__quantity {
        height: 16px;
        min-width: 16px;
        padding: 0 5px;
        color: var(--blue);
        background-color: var(--white);

        backdrop-filter: blur(2px);
        border-radius: 50%;

        position: absolute;
        bottom: 8px;
        right: -10px;


        font-size: 10px;
        line-height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header-personal {
    &__title {
        display: flex;
        align-items: center;
        color: var(--primaryTwo);

        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }

    &__name {
        color: inherit;
        margin-right: 10px;
        font-size: 12px;
        line-height: math.div(15, 12);
    }
}

.header-main {
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {}

    &__nav {}
}
