.nav {
    height: 100%;

    &__list {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__item {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 25px;
        cursor: pointer;

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        color: var(--primaryTwo);
        font-weight: 500;
        font-size: 14px;
        line-height: math.div(18, 14);
        transition: color $transitionSpeed $transitionFunction;

        &:hover {
            color: var(--blue);
        }

        &-icon {
            width: 12px;
            height: 12px;
            fill: var(--primaryTwo);
            margin-right: 24px;

            @media (min-width:$desktop) {
                display: none;
            }
        }

        &-arrow {
            width: 10px;
            height: 5px;
            fill: var(--primaryTwo);
            margin-left: auto;

            @media (min-width:$desktop) {
                display: none;
            }
        }
    }
}


.nav-dropdown {
    .nav__link {
        transition: border-bottom $transitionSpeed $transitionFunction;
        height: 100%;
        position: relative;

        display: flex;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: var(--blue);
            transition: width $transitionSpeed $transitionFunction;
        }

        &:hover {
            color: var(--primaryTwo);
        }

        @media (max-width:$desktop) {
            height: auto;

            &._spoller-active {
                .nav__link-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__dropdown {
        @media (min-width:$desktop) {
            pointer-events: none;


            &::after {
                content: '';
                position: fixed;
                width: 100%;
                height: calc(var(--vh) * 2);
                top: var(--header-height);
                right: 0;

                background-color: rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(7.5px);
                z-index: -1;

                opacity: 0;
                visibility: hidden;
                transition: opacity $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction;
            }

            .card-info {
                border-radius: 24px;
            }
        }
    }

    &__dropdown-container {

        @media (min-width:$desktop-min) {
            padding: 12px 0 0;
            height: 100%;
            top: 100%;
            transform: translateY(20px);
            width: auto;
            min-height: 260px;
            opacity: 0;
            visibility: hidden;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;
            position: absolute;
            z-index: 99;
        }

        @media (max-width:$desktop) {
            padding: 0;
        }
    }

    @media (min-width:$desktop) {
        &--1 {
            .nav-dropdown__dropdown-container {
                left: 5%;
            }
        }

        &--2 {
            .nav-dropdown__dropdown-container {
                left: 12%;
            }
        }

        &--3 {
            .nav-dropdown__dropdown-container {
                right: 8px;
            }
        }

        &:hover {
            .nav__link {
                color: var(--blue);

                &::before {
                    width: 125%;
                }
            }

            .nav-dropdown__dropdown {
                &::after {
                    opacity: 1;
                    visibility: visible;
                    z-index: -1;
                }

                &-container {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    pointer-events: all;
                }
            }
        }
    }

    @media (max-width:$desktop) {
        display: block;
    }
}


.nav-dropdown-content {
    padding: 5px 100px 5px 5px;
    display: flex;

    height: calc(100% + 12px);
    background-color: var(--white);
    border-radius: 24px;

    &__card-info {
        margin-right: 150px;
        width: 315px;
        flex: 0 0 315px;
        min-height: 240px;

        @media (max-width:$desktop) {
            margin-right: 0;
            width: auto;
            max-width: none;
            height: 100%;
            min-height: auto;
        }
    }

    &__body {

        @media (min-width:$desktop-min) {
            padding: 26px 0;
        }

        @media (max-width:$desktop) {
            display: block;
        }
    }

    &__col {}

    &__item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 12px 48px 12px 16px;
        border-radius: 12px;
        transition: background-color $transitionSpeed $transitionFunction;

        svg {
            fill: var(--blue);
            width: 14px;
            height: 14px;
            margin-right: 25px;
        }

        span {
            color: var(--dark);
            font-size: 15px;
            line-height: math.div(19, 15);
            font-weight: 400;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--hover-primary);
            }
        }

        @media (max-width:$desktop) {
            display: block;
            padding: 16px 0;

            &:not(:last-child) {
                margin: 0;
            }
        }
    }

    @media (max-width:$desktop) {
        flex-direction: column;
        margin: 0;
        padding: 0 0 0 36px;
        max-width: none;
    }
}
