.object {

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$desktop) {
            background-color: var(--white);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            padding-top: 12px;
            padding-bottom: 12px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99;
        }
    }

    &__back {}

    &__btns {
        display: flex;
        align-items: center;
    }

    &__share {
        @media (max-width:$desktop) {
            order: 2;
        }
    }

    &__complain {
        margin-left: 2px;

        @media (max-width:$desktop) {
            order: 1;
            margin-left: 0;
            margin-right: 24px;
        }
    }

    &__body {
        @media (max-width:$desktop) {
            padding: 0;
            background-color: var(--primary100);
        }
    }

    @media (max-width:$desktop) {
        padding-top: 0;
    }
}


.object-body {
    &__slider {
        padding: 10px;
        background-color: var(--white);
        border-radius: 12px;

        @media (max-width:$desktop) {
            padding: 0;
            background-color: transparent;
        }
    }

    &__container {
        margin-top: 32px;
        padding: 32px;
        background-color: var(--primary100);
        border-radius: 16px;

        @media (max-width:$desktop) {
            margin-top: 0;
            padding: 58px 0 16px;
            background-color: transparent;
        }
    }

    &__content {
        margin-top: 25px;

        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 300px;
        grid-column-gap: 32px;

        @media (max-width:$desktop) {
            margin-top: 8px;
        }
    }

    &__comment {
        grid-column: 1/2;

        @media (max-width:$desktop) {
            grid-column: 1/-1;
        }
    }

    &__user {
        grid-column: 2/3;
        grid-row: 1/4;
        align-self: start;

        @media (max-width:$desktop) {
            grid-row: auto;
            grid-column: 1/-1;
            margin-top: 8px;
        }
    }

    &__data {
        grid-column: 1/2;
        margin-top: 25px;

        @media (max-width:$desktop) {
            grid-column: 1/-1;
            margin-top: 8px;
        }
    }

    &__banners {
        margin-top: 25px;
        grid-column: 1/2;
        min-width: 100%;

        @media (max-width:$desktop) {
            margin-top: 8px;
            grid-column: 1/-1;
        }
    }

    &__history {
        margin-top: 25px;
        grid-column: 1/2;

        @media (max-width:$desktop) {
            grid-column: 1/-1;
            margin-top: 8px;
        }
    }

    &__location {
        margin-top: 25px;
        grid-column: 1/2;
        min-width: 100%;

        @media (max-width:$desktop) {
            grid-column: 1/-1;
            margin-top: 8px;
        }
    }

    &__characteristics {
        margin-top: 25px;
        grid-column: 1/2;

        @media (max-width:$desktop) {
            grid-column: 1/-1;
            margin-top: 8px;
        }
    }
}




.object-characteristics {
    background-color: var(--white);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 32px 24px 24px;

    &__title {}

    &__list {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 110px;
        grid-row-gap: 16px;

        &:first-child {
            margin-top: 24px;
        }

        &:not(:first-child) {
            margin-top: 16px;
        }

        &:not([hidden]) {
            display: grid;
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 1fr;
            grid-row-gap: 8px;

            &:first-child {
                margin-top: 16px;
            }

            &:not(:first-child) {
                margin-top: 8px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;

        &::after {
            content: '';
            flex: 1 1 0%;
            align-self: end;
            position: relative;
            top: -3px;
            border-bottom: 1px dashed var(--primary200);
            height: 1px;
            order: 2;
            margin: 0 2px;
        }

        span {
            font-size: 15px;
            line-height: math.div(19, 15);
            font-weight: 400;

            &:nth-child(1) {
                order: 1;
                color: var(--primaryTwo);

                @media (max-width:$smallTablet-max) {
                    width: 50%;
                }
            }

            &:nth-child(2) {
                order: 3;

                @media (max-width:$smallTablet-max) {
                    order: 2;
                    width: 42%;
                }
            }
        }

        @media (max-width:$smallTablet-max) {
            justify-content: space-between;

            &::after {
                display: none;
            }
        }
    }

    &__more {
        display: flex;
        align-items: center;
        margin-top: 16px;
        color: var(--blue);
        font-size: 12px;
        line-height: 100%;

        svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            fill: currentColor;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &._active {
            svg {
                transform: rotate(180deg);
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 8px;
        }
    }

    @media (max-width:$desktop) {
        padding: 16px;
        box-shadow: none;
    }
}






.object-slider {
    display: flex;
    justify-content: space-between;
    max-height: 474px;

    &__body {
        overflow: hidden;
        margin-right: 16px;
        flex: 0 1 percent(691, 996);

        @media (max-width:$desktop) {
            margin-right: 0;
        }

        @media (max-width:$mobile-max) {
            flex: auto;
        }
    }

    &__nav {
        flex-shrink: 0;
        flex: 0 1 percent(289, 996);

        @media (max-width:$desktop) {
            display: none;
        }
    }

    @media (max-width:$desktop) {
        justify-content: center;
    }
}

.object-location {
    background-color: var(--white);
    border-radius: 12px;
    padding: 32px 24px;

    &__title {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }

    &__descr {
        margin-top: 20px;
        color: var(--primary600);
        font-size: 15px;
        line-height: math.div(19, 15);

        @media (max-width:$desktop) {
            margin-top: 16px;
            padding: 0 16px;
        }
    }

    &__maps {
        margin-top: 24px;
        width: 100%;
        height: 423px;
        background-color: var(--white);
        border-radius: 12px;

        @media (max-width:$desktop) {
            margin-top: 16px;
            height: 350px;
        }

        @media (max-width:$smallTablet-max) {
            height: 227px;
        }
    }

    @media (max-width:$desktop) {
        padding: 16px 0;
    }
}

.object-banners {
    padding: 32px 24px;
    background-color: var(--white);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    border-radius: 12px;

    @media (max-width:$desktop) {
        padding: 16px;
    }
}


.object-comment {
    border-radius: 12px;
    background-color: var(--white);
    padding: 32px 32px 32px 24px;

    &__title {}

    &__descr {
        margin-top: 24px;
        font-size: 15px;
        line-height: math.div(19, 15);
        color: var(--dark);

        @media (max-width:$desktop) {
            margin-top: 16px;
        }
    }

    @media (max-width:$desktop) {
        padding: 16px 16px 24px;
    }
}




.object-history {
    padding: 32px 24px;
    background-color: var(--white);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    border-radius: 12px;

    &__title {}

    &__list {
        margin-top: 32px;
        display: inline-flex;
        flex-direction: column;

        @media (max-width:$desktop) {
            margin-top: 16px;
        }

        @media (max-width:$smallTablet-max) {
            display: flex;
        }
    }

    &__item {
        display: inline-grid;
        align-items: center;
        grid-template-columns: 136px 210px max-content;
        padding: 20px 0;

        &:first-child {
            padding-top: 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--primary100);
        }

        @media (max-width:$smallTablet-max) {
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-row-gap: 8px;
            grid-column-gap: 12px;
            padding: 12px 0;
        }
    }

    &__item--plus {
        .object-history {
            &__old-price {
                span {
                    &:nth-child(2) {
                        color: var(--red);
                        background: rgba(255, 72, 72, 0.1);
                    }
                }
            }
        }
    }

    &__item--minus {
        .object-history {
            &__old-price {
                span {
                    &:nth-child(2) {
                        color: var(--green);
                        background: rgba(36, 202, 142, 0.1);
                    }
                }
            }
        }
    }

    &__date {
        color: var(--dark);
        font-size: 15px;
        line-height: math.div(19, 15);

        @media (max-width:$smallTablet-max) {
            grid-column: 1/-1;

            &[data-mobile-text] {
                font-size: 0;

                &::before {
                    content: attr(data-mobile-text);
                    font-size: 12px;
                }
            }
        }
    }

    &__old-price {
        display: flex;
        align-items: center;
        color: var(--primaryTwo);

        span {
            &:nth-child(1) {
                color: var(--primaryTwo);
                font-size: 15px;
                line-height: math.div(19, 15);
                font-weight: 400;

                span {
                    position: relative;

                    &::before {
                        content: '';
                        border-bottom: 1px solid currentColor;
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        transform: rotate(-5deg);
                    }
                }
            }

            &:nth-child(2) {
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 8px;
                font-size: 12px;
                line-height: math.div(15, 12);
                font-weight: 400;

                @media (max-width:$smallTablet-max) {
                    padding: 5px 4px;
                }
            }
        }
    }

    &__new-price {
        font-size: 15px;
        line-height: math.div(19, 15);
        color: var(--dark);

        @media (max-width:$smallTablet-max) {
            justify-self: end;
        }
    }

    @media (max-width:$desktop) {
        box-shadow: none;
        padding: 16px;
    }
}





.object-data {
    background-color: var(--white);
    padding: 32px 24px 24px;
    border-radius: 12px;

    &__price {
        display: flex;
        flex-direction: column;
    }

    &__price-new {
        span {
            &:nth-child(1) {
                @media (max-width:$desktop) {
                    font-size: 18px;
                }
            }

            &:nth-child(2) {
                color: var(--primaryTwo);
                font-size: 15px;
                line-height: math.div(19, 15);
                font-weight: 400;

                @media (max-width:$desktop) {
                    font-size: 12px;
                }
            }
        }
    }

    &__price-old {
        margin-top: 5px;
        display: flex;
        align-items: center;
        color: var(--primaryTwo);

        span {
            &:nth-child(1) {
                color: var(--primaryTwo);
                font-size: 15px;
                line-height: math.div(19, 15);
                font-weight: 400;

                span {
                    position: relative;

                    &::before {
                        content: '';
                        border-bottom: 1px solid currentColor;
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        transform: rotate(-5deg);
                    }
                }

                @media (max-width:$desktop) {
                    font-size: 12px;
                }
            }

            &:nth-child(2) {
                margin-left: 4px;
                padding: 2px 4px;
                color: var(--green);
                background: rgba(36, 202, 142, 0.1);
                border-radius: 8px;
                font-size: 12px;
                line-height: math.div(15, 12);
                font-weight: 400;
            }
        }
    }


    &__name {
        margin-top: 16px;

        font-size: 20px;
        line-height: math.div(25, 20);
        font-weight: 500;
        color: var(--dark);

        @media (max-width:$desktop) {
            font-size: 18px;
        }
    }

    &__address {
        margin-top: 5px;
        font-size: 15px;
        line-height: math.div(19, 15);

        &--one {
            display: block;
            font-weight: 500;
            color: var(--dark);
        }

        &--two {
            &:not(:first-child) {
                margin-top: 5px;
            }

            display: block;
            color: var(--primary600)
        }

        @media (max-width:$desktop) {
            font-size: 12px;
            margin-top: 4px;
        }
    }

    &__text {
        margin-top: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;

        p {
            color: var(--dark);
            font-size: 15px;
            line-height: math.div(19, 15);
        }

        &._active {
            display: block;
        }

        @media (max-width:$desktop) {
            margin-top: 16px;
            -webkit-line-clamp: 3;
        }

        @media (max-width:$mobile-max) {
            -webkit-line-clamp: 6;
        }
    }

    &__more {
        display: flex;
        align-items: center;
        margin-top: 16px;
        color: var(--blue);

        span {
            font-size: 12px;
            line-height: 100%;
        }

        svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            fill: currentColor;
        }

        @media (max-width:$desktop) {
            margin-top: 8px;

            svg {
                margin-left: 4px;
            }
        }
    }

    @media (max-width:$desktop) {
        padding: 16px;
    }
}




















.object-slider-body {
    position: relative;

    &__wrapper {
        overflow: hidden;
        height: 100%;
        border-radius: 12px;
        width: 100%;

        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }
    }

    &__navigation {
        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }
}

.object-slider-nav {
    overflow: hidden;

    &__wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 15px;
        margin: -15px;
        box-sizing: content-box;

        .swiper-slide {
            cursor: pointer;
            filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.04));

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }
    }
}
