.object-base-inner {
    .object-body {
        &__data {
            margin-top: 16px;

            @media (max-width:$desktop) {
                margin-top: 8px;
            }
        }

        &__user {}

        ._sticky {
            position: sticky;
            top: 16px;
            width: 100%;
        }
    }

    &__btns {
        margin-top: 24px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        padding: 24px 16px;

        @media (max-width:$desktop) {
            padding: 16px;
            margin-top: 8px;
        }
    }

    &__btn {
        width: 100%;
        padding: 0 20px;

        svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
            margin-right: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;

            @media (max-width:$desktop) {
                margin-bottom: 16px;
            }
        }
    }

    .plate-bottom {
        grid-template-columns: 1fr;
    }

    .object-plate-bottom__btn {
        width: 100%;
    }

    .object-body {
        &__wrapper {
            &>.object-body__sidebar {
                @media (max-width:$desktop) {
                    display: none;
                }
            }
        }

        &__content {}
    }

    &--extended {
        .object-body {
            &__data {
                margin-top: 0;
            }



            &__btn {
                height: 48px;
                @include fontCofo;
                border-radius: 16px;

                color: var(--blue);
                border: 1px solid currentColor;
                background-color: var(--white);

                font-size: 14px;
                line-height: math.div(18, 14);
                font-weight: 500;

                padding: 0px 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                white-space: nowrap;

                @media (max-width:$desktop) {
                    height: 48px;
                    font-size: 14px;
                }
            }
        }

        .object-data {
            position: relative;

            &__time {
                display: inline-block;

                @media (min-width:$smallTablet-min) {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                }

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }

            &__name {}
        }

    }

    &__controls {
        box-shadow: var(--shadow-primary);
        background-color: var(--white);
        border-radius: 12px;
        padding: 32px 24px;
        margin-top: 24px;
        margin-bottom: 24px;

        display: flex;
        flex-direction: column;
        grid-column-gap: 8px;
        grid-row-gap: 16px;

        @media (max-width:$desktop) {
            padding: 16px;
        }

        .secondary-tooltip {
            margin-left: 3px;

            svg {
                stroke: var(--blue);
                width: 15px;
                height: 15px;
                stroke-width: 1.5px;
            }

            &__content {
                max-width: 329px;
                width: max-content;
                white-space: normal;
                font-weight: 400;
                left: auto;
                right: 22px;
                @media (max-width:$desktop) {
                    top: 0;
                    bottom: auto;
                }

                @media (max-width:$smallTablet-max) {
                    top: 140%;
                    max-width: 205px;
                    left: 0;
                }
            }
        }
    }

    &__comment {
        margin-top: 24px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        padding: 24px 16px;

        >span {
            margin-bottom: 16px;
            font-size: 15px;
            line-height: math.div(19, 15);
            color: var(--dark);
            font-weight: 400;
            display: block;
        }

        p {
            margin-top: 4px;
            font-size: 12px;
            line-height: math.div(15, 12);
        }

        .textarea-secondary {
            position: relative;
            margin-top: 12px;
            height: 50px;

            textarea {
                padding: 15px 46px 15px 16px;
                min-height: 50px;
            }

            &__clear {
                top: 16px;
            }

            &._active {
                span {
                    display: none;
                }
            }
        }

        &-save {
            margin-top: 8px;
            display: block;
            color: var(--blue);
        }

        @media (max-width:$desktop) {
            margin-top: 8px;
            padding: 16px;
        }
    }
}
