.purchase-request {
    &__top {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 16px;

        @media (max-width:$desktop) {
            justify-content: space-between;
            background-color: var(--white);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            padding-top: 12px;
            padding-bottom: 12px;


            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99;
        }
    }

    &__back {
        grid-column: 1/2;
        grid-row: 1/2;


        span {
            @media (max-width:$desktop) {
                &[data-mobile-text] {
                    font-size: 0;

                    &::before {
                        content: attr(data-mobile-text);
                        font-size: 12px;
                    }
                }
            }
        }

        @media (max-width:$desktop) {
            grid-column: auto;
            grid-row: auto;
        }
    }

    &__title {
        grid-column: 1/2;
        grid-row: 2/3;

        @media (max-width:$desktop) {
            grid-column: auto;
            grid-row: auto;
            padding-left: 16px;
            display: none;
        }
    }

    &__btns {
        justify-self: end;

        display: flex;
        align-items: center;
        grid-column: 2/3;
        grid-row: 2/3;

        @media (max-width:$desktop) {
            grid-row: auto;
            grid-column: auto;
        }
    }

    &__share {
        @media (max-width:$desktop) {
            order: 2;
        }
    }

    &__complain {
        margin-left: 2px;

        @media (max-width:$desktop) {
            order: 1;
            margin-left: 0;
            margin-right: 24px;
        }
    }

    &__body {
        margin-top: 32px;

        @media (max-width:$desktop) {
            padding: 74px 0 0;
            margin-top: 0;

            .purchase-request__title {
                display: block;
            }
        }
    }

    &__suggested-objects {
        margin-top: 25px;

        @media (max-width:$desktop) {
            background-color: var(--white);
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 0;
            padding: 16px 0;
            border-radius: 12px;

            .tabs-primary {
                &__container {
                    background-color: var(--primary100);
                    padding-bottom: 24px;
                }

                &__title {
                    display: flex;
                    flex-direction: column;
                    padding: 0 16px;
                }

                &__inner {
                    margin-top: 24px;
                }

                &__row-title {
                    padding-left: 16px;
                }

                &__row-list {
                    margin-top: 8px;
                }

                &__btns {
                    .tabs__title {
                        padding: 9px 15px;
                        font-size: 12px;
                    }
                }

                &__content {
                    margin-top: 24px;
                }

                &__row {
                    padding-top: 8px;

                    &:last-child {
                        padding-bottom: 24px;
                    }
                }

                &__next {
                    margin: 0 0 0 16px;
                    width: calc(100% - 32px);
                }

                &__pagination {
                    margin-top: 16px;
                }
            }

            .tabs__body {
                @media (max-width:$smallTablet-max) {}
            }
        }
    }

    &__calendar {
        margin-top: 25px;
    }

    @media (max-width:$desktop) {
        padding-top: 0;
        background-color: var(--primary100);

        .bid__container {
            margin-top: 24px;
            padding: 0;
        }
    }
}


.request-calendar {
    &__container {
        background: var(--primary100);
        padding: 32px;
        border-radius: 16px;
    }

    &__body {
        background-color: var(--white);
        padding: 24px;
        border-radius: 12px;
    }

    .tabs-primary {
        &__container {
            background-color: transparent;
            padding: 0;
        }
    }

    .main-table {
        background-color: transparent;
        padding: 0;

        &__type {
            display: grid;
            grid-template-columns: percent(268, 914) max-content 1fr;
            grid-column-gap: 15px;

            span:last-child {
                margin-left: auto;
                margin-right: 50px;
            }
        }
    }

}
