.search-area {

    &__title {
        text-align: left;
    }

    &__container {
        margin-top: 24px;
    }

    &__metro {}

    &__items {
        margin-top: 32px;
        padding-bottom: 72px;
        grid-column: 1/2;
    }

    &__top {
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: center;
        gap: 8px;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, auto));

        .select-secondary {
            &:nth-child(2) {


                .choices__list--single {
                    padding-left: 75px;
                }
            }

            &:nth-child(3) {


                .choices__list--single {
                    padding-left: 60px;
                }
            }
        }
    }

    &__search {}

    .dragscroll {
        overflow: auto;
        width: 100%;
        height: 100%;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__left {
        grid-row: 1/3;
        grid-column: 2/3;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__map {
        max-height: var(--vh);
        width: 100%;
        overflow: auto;
        padding-left: 20px;
        margin-left: -20px;
        height: 100%;


        .map-primary {
            height: 100%;
            width: 100%;
        }

        &._sticky {
            position: sticky;
            top: 0;
            width: calc(100% + 20px);
        }
    }

    &__resize {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);


        background-color: var(--white);
        box-shadow: var(--shadow-secondary);
        border-radius: 50%;

        cursor: ew-resize;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;
        width: 40px;
        z-index: 99;

        svg {
            width: 25px;
            height: 25px;
            fill: var(--dark);
        }
    }

    &__controls {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__control {
        height: 25px;
        padding: 0 16px;
        font-size: 10px;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__item {
        text-align: left;
        padding: 24px 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--primary200);
        }

        .spollers__title {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: math.div(21, 16);
            color: var(--primaryTwo);
            font-weight: 500;
            transition: color $transitionSpeed $transitionFunction;

            >div {
                width: 26px;
                height: 16px;
                display: block;
                margin-right: 12px;
                position: relative;

                span {
                    color: var(--white);
                    font-size: 9px;
                    line-height: 100%;
                    position: absolute;
                    left: 0;
                    top: 1px;


                    background-color: transparent;
                    height: 17px;
                    width: 28px;
                    padding-right: 10px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                svg {
                    width: 28px;
                    height: 17px;
                    fill: orange;
                }
            }

            >svg {
                width: 20px;
                height: 20px;
                fill: currentColor;
                margin-left: 8px;
                transition: transform $transitionSpeedFast $transitionFunction;
            }

            &:hover {
                color: var(--blue);
            }

            &.focus-visible {
                color: var(--blue);
            }

            &._spoller-active {
                >svg {
                    transform: rotate(-180deg);
                }
            }
        }

        &[data-search-area-metro="1"] {
            .spollers__title>div svg {
                fill: var(--red);
            }

            .checkbox-secondary__circle {
                background-color: var(--red);
            }
        }

        &[data-search-area-metro="2"] {
            .spollers__title>div svg {
                fill: rgb(79, 130, 66);
            }

            .checkbox-secondary__circle {
                background-color: rgb(79, 130, 66);
            }
        }

        &[data-search-area-metro="3"] {
            .spollers__title>div svg {
                fill: rgb(0, 66, 165);
            }

            .checkbox-secondary__circle {
                background-color: rgb(0, 66, 165);
            }
        }

        &[data-search-area-metro="4"] {
            .spollers__title>div svg {
                fill: rgb(9, 157, 212);
            }

            .checkbox-secondary__circle {
                background-color: rgb(9, 157, 212);
            }
        }

        &[data-search-area-metro="5"] {
            .spollers__title>div svg {
                fill: rgb(121, 72, 53);
            }

            .checkbox-secondary__circle {
                background-color: rgb(121, 72, 53);
            }
        }

        &[data-search-area-metro="6"] {
            .spollers__title>div svg {
                fill: rgb(255, 129, 3);
            }

            .checkbox-secondary__circle {
                background-color: rgb(255, 129, 3);
            }
        }

        &[data-search-area-metro="7"] {
            .spollers__title>div svg {
                fill: rgb(177, 23, 154);
            }

            .checkbox-secondary__circle {
                background-color: rgb(177, 23, 154);
            }
        }

        &[data-search-area-metro="8"] {
            .spollers__title>div svg {
                fill: rgb(255, 228, 0);
            }

            .checkbox-secondary__circle {
                background-color: rgb(255, 228, 0);
            }
        }

        &[data-search-area-metro="8A"] {
            .spollers__title>div svg {
                fill: rgb(255, 228, 0);
            }

            .checkbox-secondary__circle {
                background-color: rgb(255, 228, 0);
            }
        }

        &[data-search-area-metro="9"] {
            .spollers__title>div svg {
                fill: rgb(144, 144, 144);
            }

            .checkbox-secondary__circle {
                background-color: rgb(144, 144, 144);
            }
        }

        &[data-search-area-metro="10"] {
            .spollers__title>div svg {
                fill: rgb(105, 205, 55);
            }

            .checkbox-secondary__circle {
                background-color: rgb(105, 205, 55);
            }
        }

        &[data-search-area-metro="11"] {
            .spollers__title>div svg {
                fill: rgb(111, 193, 186);
            }

            .checkbox-secondary__circle {
                background-color: rgb(111, 193, 186);
            }
        }

        &[data-search-area-metro="12"] {
            .spollers__title>div svg {
                fill: rgb(141, 190, 206);
            }

            .checkbox-secondary__circle {
                background-color: rgb(141, 190, 206);
            }
        }

        &[data-search-area-metro="14"] {
            .spollers__title>div svg {
                fill: rgb(255, 168, 175);
            }

            .checkbox-secondary__circle {
                background-color: rgb(255, 168, 175);
            }
        }

        &[data-search-area-metro="15"] {
            .spollers__title>div svg {
                fill: rgb(255, 102, 232);
            }

            .checkbox-secondary__circle {
                background-color: rgb(255, 102, 232);
            }
        }

        &[data-search-area-metro="d1"] {
            .spollers__title>div svg {
                fill: rgb(237, 159, 45);
            }

            .checkbox-secondary__circle {
                background-color: rgb(237, 159, 45);
            }
        }

        &[data-search-area-metro="d2"] {
            .spollers__title>div svg {
                fill: rgb(223, 71, 124);
            }

            .checkbox-secondary__circle {
                background-color: rgb(223, 71, 124);
            }
        }

    }

    .spollers__body {
        margin-top: 16px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        justify-content: start;
        align-items: start;

        .checkbox-secondary {
            &__label {
                justify-content: start;
            }

            &__text {
                margin-left: 8px;
                display: flex;
                align-items: center;
            }

            &__circle {
                width: 8px;
                height: 8px;
                display: block;
                background-color: orange;
                border-radius: 50%;
                margin-right: 8px;
            }
        }
    }

    .tabs-primary {
        padding: 0;

        &__inner {
            margin-top: 0;
        }

        &__btns {
            justify-content: start;
        }

        &__content {
            margin-top: 0;
        }

        &__container {
            margin-top: 16px;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
        }

        .tabs__title {
            width: auto;
            padding: 5px 12px;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &__form {
        position: relative;
        display: grid;
         grid-template-columns: 750px 1fr;
        grid-column-gap: 24px;
    }

    &__bottom {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--white);
        box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
        padding: 12px 0;

        >div {
            display: flex;
            align-items: center;
            justify-content: end;
            max-width: 1112px;
            padding: 0;
            margin: 0 auto;

            @media (max-width:1112px) {
                padding: 0 16px;
            }
        }
    }

    &__go {
        padding: 0 32px;
        margin-right: 16px;
        height: 42px;
    }

    @media (max-width:$desktop) {
        padding: 0;
    }
}
