<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container container">
            <div class="header-top__city city">
                <button type="button" class="btn btn-reset city__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--ad">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#add"></use>
                        </svg>
                        <span class="header-action__name">
                            Добавить
                        </span>
                    </button>
                </div>
                <div class="header-top__action header-action header-action--calendar">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#calendar"></use>
                        </svg>
                        <span class="header-action__quantity">
                            2
                        </span>
                    </button>
                </div>
                <div class="header-top__action header-action header-action--chat">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#ChatCircleDots"></use>
                        </svg>
                        <span class="header-action__quantity">
                            2
                        </span>
                    </button>
                </div>
            </div>
            <div class="header-top__personal header-personal">
                <button type="button" class="btn btn-reset header-personal__title">
                    <span class="header-personal__name">
                        Кабинет
                    </span>
                    <svg>
                        <use xlink:href="img/sprite.svg#door-open"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="header__main header-main">
        <div class="header-main__container container">
            <a href="#" class="header-main__logo logo">
                <img loading="lazy" src="./img/logo.svg" width="238" height="32" class="logo__img" alt="Продам.Онлайн">
            </a>
            <nav class="header-main__nav nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">Продажа</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Новостройки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Покупка</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Агенты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
