<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container container">
            <div class="header-top__city city">
                <button type="button" class="btn btn-reset city__title">
                    <svg>
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--add">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#add"></use>
                        </svg>
                        <span class="header-action__name">
                            Добавить
                        </span>
                    </button>
                </div>
                <div class="header-top__action header-action header-action--calendar">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#calendar"></use>
                        </svg>
                        <span class="header-action__quantity">
                            2
                        </span>
                    </button>
                </div>
                <div class="header-top__action header-action header-action--chat">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#ChatCircleDots"></use>
                        </svg>
                        <span class="header-action__quantity">
                            2
                        </span>
                    </button>
                </div>
            </div>
            <div class="header-top__personal header-personal">
                <button type="button" class="btn btn-reset header-personal__title">
                    <span class="header-personal__name">
                        Кабинет
                    </span>
                    <svg>
                        <use xlink:href="img/sprite.svg#door-open"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="header__main header-main">
        <div class="header-main__container container">
            <a href="#" class="header-main__logo logo">
                <img loading="lazy" src="./img/logo.svg" width="238" height="32" class="logo__img" alt="Продам.Онлайн">
            </a>
            <nav class="header-main__nav nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link">Продажа</span>
                        <div class="nav-dropdown__dropdown">
                            <div class="nav-dropdown__dropdown-container nav-dropdown-content container">
                                <div class="nav-dropdown-content__card-info card-info">
                                    <span class="card-info__title">
                                        Успейте взять ипотеку
                                        по выгодной ставке
                                    </span>
                                    <div class="card-info__image" style="background-image: url('./img/11prc.png')">
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__body">
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#key"></use>
                                            </svg>
                                            <span>Вторичка</span>
                                        </a>
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#new-buildings"></use>
                                            </svg>
                                            <span>Новостройки</span>
                                        </a>
                                    </div>
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#home"></use>
                                            </svg>
                                            <span>Дома, коттеджи, дачи</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Новостройки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Покупка</a></li>
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link">Продажа</span>
                        <div class="nav-dropdown__dropdown">
                            <div class="nav-dropdown__dropdown-container nav-dropdown-content container">
                                <div class="nav-dropdown-content__card-info card-info">
                                    <span class="card-info__title">
                                        Успейте взять ипотеку
                                        по выгодной ставке
                                    </span>
                                    <div class="card-info__image" style="background-image: url('./img/11prc.png')">
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__body">
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#bank"></use>
                                            </svg>
                                            <span>Ипотека</span>
                                        </a>
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#shield"></use>
                                            </svg>
                                            <span>Ипотечное страхование</span>
                                        </a>
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#money-check-edit"></use>
                                            </svg>
                                            <span>Оценка недвижимости для ипотеки</span>
                                        </a>
                                    </div>
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#fingerprint"></use>
                                            </svg>
                                            <span>Юридическая проверка</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Агенты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
