<div class="popup popup-primary popup-primary--left popup-primary--city">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true" data-popup-target="city">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content city-popup">
            <h2 class="city-popup__title title-2">
                Выбор города
            </h2>
            <button type="button" class="btn btn-reset city-popup__auto">
                <svg>
                    <use xlink:href="img/sprite.svg#crosshair"></use>
                </svg>
                <span>Определить автоматически</span>
            </button>
            <div class="city-popup__input">
                <input type="search" name="Название города" class="input-reset" placeholder="Введите название города">
                <button type="button" class="btn btn-reset">
                    <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
            <div class="city-popup__list">
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Москва</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Казань</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Москва</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Казань</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Москва</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Казань</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
            </div>
            <button type="button" class="btn btn-reset btn-primary js-popup-close city-popup__save">Сохранить</button>
        </div>
    </div>
</div>
<div class="popup popup-primary popup-primary--right popup-primary--add">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true" data-popup-target="add">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
        </button>
        <div class="popup__content popup-primary__content add-popup">
            <h2 class="add-popup__title title-2">
                Добавить
            </h2>
            <ul class="add-popup__list list-reset">
                <li class="add-popup__item">
                    <a href="#" class="add-popup__link">
                        <svg>
                            <use xlink:href="img/sprite.svg#house"></use>
                        </svg>
                        <span>Объявление на продажу</span>
                    </a>
                </li>
                <li class="add-popup__item">
                    <a href="#" class="add-popup__link">
                        <svg>
                            <use xlink:href="img/sprite.svg#tg"></use>
                        </svg>
                        <span>Запрос на покупку</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
