.title-1 {
    font-weight: 500;
    font-size: 32px;
    line-height: math.div(40, 32);
    color: var(--dark);

    @media (max-width:$desktop) {
        font-size: 26px;
    }

    @media (max-width:$smallTablet-max) {
        font-size: 20px;
    }
}

.title-2 {
    font-weight: 500;
    font-size: 24px;
    line-height: math.div(30, 24);
    color: var(--dark);
}

.title-3 {
    font-weight: 500;
    font-size: 18px;
    line-height: math.div(23, 18);
    color: var(--dark);
}

.title-4 {
    font-weight: 500;
    font-size: 15px;
    line-height: math.div(19, 15);
    color: var(--dark);
}
