.title-1 {
    font-weight: 500;
    font-size: 32px;
    line-height: math.div(40, 32);
    color: var(--dark);
}

.title-2 {
    font-weight: 500;
    font-size: 24px;
    line-height: math.div(30, 24);
    color: var(--dark);
}

.title-3 {
    font-weight: 500;
    font-size: 18px;
    line-height: math.div(23, 18);
    color: var(--dark);
}

.title-4 {
    font-weight: 500;
    font-size: 15px;
    line-height: math.div(19, 15);
    color: var(--dark);
}



.request-catalog {

    &__select {}
}

.select-primary {
    position: relative;
    cursor: pointer;

    &__name {
        position: absolute;
        z-index: 2;
        top: 8.5px;
        left: 16px;
        color: var(--primaryTwo);
        font-size: 9px;
        line-height: math.div(10, 9);
        font-weight: 400;
    }

    &__inner {}

    &__body {}

    .choices {
        background-color: var(--primary100);
        overflow: visible;
        padding: 20px 16px 8.5px 16px;
        border-radius: 12px;
        transition: border-radius $transitionSpeed $transitionFunction;

        &::after {
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-image: url('../img/check.svg');
            transition: transform $transitionSpeed $transitionFunction;
            display: block;

            margin-top: 0;
            top: -9px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
        }

        &.is-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                margin-top: 0;
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    .choices__list--dropdown {
        margin-top: 0;
        left: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 5;
        border: 1px solid rgba(122, 127, 170, 0.2) !important;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        transition: visibility $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        opacity: 0;
        transform: translateY(10px);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        .choices__item {
            font-size: 13px;
            line-height: math.div(16, 13);
            padding: 8.5px 16px;

            &.is-selected {
                opacity: 0.45;
                pointer-events: none;
            }
        }
    }

    .choices__inner {
        padding: 0 !important;
        background-color: transparent;
        border-radius: 0;
        border: none;
        min-height: auto;
    }

    .choices__list--single {
        padding: 0;
        margin-top: 2px;
        font-size: 15px;
        line-height: math.div(19, 15);



        width: calc(100% - 30px);

        >.choices__item--selectable {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.filter {
    &__inner {
        display: grid;
        grid-row-gap: 24px;
    }

    &__row {
        transition: max-height 0.75s $transitionFunction,
            opacity 0.75s $transitionFunction,
            visibility 0.75s $transitionFunction;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 16px;

        max-height: 0;
        opacity: 0;
        visibility: hidden;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        &--object {
            grid-column: 3 span;
        }

        &--quantity-selection {
            grid-column: 3 span;
        }

        &--budget {
            grid-column: 3 span;
        }

        &--area {
            grid-column: 3 span;
        }

        &--properties {
            grid-column: 4 span;
        }

        &--complex {
            grid-column: 3 span;
        }

        &--checkboxes {
            grid-column: 5 span;
        }
    }

    &__controls {
        transition: margin-top 0.75s $transitionFunction;
        display: flex;
        align-items: center;

        &.more,
        &.all {
            .filter__btn-control {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &.none {
            margin-top: 24px;
        }
    }

    &__clear {
        margin-left: auto;
        margin-right: 16px;
        padding: 14.5px 78px;
    }

    &__go {
        padding: 14.5px 31.5px;
    }

    &__btn-control {
        align-self: start;
        position: relative;
        z-index: 4;
        color: var(--blue);
        display: flex;
        align-items: center;

        span {
            font-size: 12px;
            line-height: math.div(15, 12);
            font-weight: 400;
        }

        svg {
            width: 15px;
            height: 12px;
            fill: currentColor;
            margin-left: 12px;
            transition: transform $transitionSpeed $transitionFunction;
        }
    }
}



.quantity-selection {
    background-color: var(--primary100);
    border-radius: 12px;
    padding: 6.5px 16px;

    &__subtitle {
        display: block;
        color: var(--primaryTwo);
        font-size: 9px;
        line-height: 100%;
        font-weight: 400;
    }

    &__inner {
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .checkbox {
            &:not(:last-child) {
                margin-right: 7px;
            }
        }
    }
}




.filter-dropdown {
    position: relative;

    &__button {
        width: 100%;
        background-color: var(--primary100);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 16px;

        span {
            font-size: 15px;
            line-height: math.div(19, 15);
            color: var(--gray);
            font-weight: 400;
        }

        svg {
            width: 20px;
            height: 20px;
            transition: transform $transitionSpeed $transitionFunction;
            transform: rotate(180deg);
        }
    }

    &.active {
        .filter-dropdown__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .filter-dropdown__button {
            svg {
                transform: rotate(0deg);
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &.active {
            .filter-dropdown__choice {
                background-color: var(--primary100);
                border: 1px solid var(--primaryTwo);

                svg {
                    stroke: var(--primaryTwo);
                }
            }

            .filter-dropdown__range {
                opacity: 1;
                cursor: pointer;
                pointer-events: painted;
            }
        }
    }

    &__dropdown {
        position: absolute;
        z-index: 6;
        top: 100%;
        right: 0;
        width: 120%;
        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        padding: 12px 16px;

        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;

        transition: transform $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
    }



    &__choice {
        flex: 0 0 15px;
        width: 15px;
        height: 15px;

        background-color: var(--red);
        border: 1px solid var(--red);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;

        svg {
            width: 8px;
            height: 8px;
            stroke: var(--white);
            transition: stroke $transitionSpeed $transitionFunction;
        }
    }

    &__range {
        width: 100%;
        margin-right: 16px;

        opacity: 0.45;
        cursor: default;
        pointer-events: none;

        transition: opacity $transitionSpeed $transitionFunction;
    }
}



.filter-range {
    padding: 8.5px 16px 0;
    background-color: var(--primary100);
    border-radius: 12px;

    &__subtitle {
        font-weight: 400;
        font-size: 9px;
        line-height: math.div(10, 9);
        color: var(--primaryTwo);
    }

    .filter-range__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8.5px;

        span {
            color: var(--gray);
            font-size: 15px;
            line-height: math.div(19, 15);
        }
    }

    .noUi-target {
        border: none;
        box-shadow: none;
        border-radius: 2px;
        background-color: var(--primary200);
    }

    .noUi-horizontal {
        height: 2px;

        .noUi-handle {
            width: 10px;
            height: 10px;
            top: -4px;

            &.noUi-handle-upper {
                right: 0;
            }

            &.noUi-handle-lower {
                right: -7px;
            }
        }
    }

    .noUi-handle {
        border: none;
        box-shadow: none;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .noUi-touch-area {
        background-color: var(--blue);
        border: 1px solid var(--white);
        border-radius: 50%;
    }

    .noUi-connect {
        background-color: var(--blue);
    }
}
