// main
$fontFamily: "CoFoSans";
$fontSize: 16;
$minWidth: 320;
$maxWidth: 1920;
// $contentWidth: 1112;
$contentWidth: 1180;
$containerOffset: 16;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #3D3D3D; // Цвет шрифта по умолчанию

// break points
$desktop: $containerWidth+px;
$desktop-min: ($containerWidth + 1)+px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;

:root {
    --black: #000;
    --white: #fff;

    --primary600: #32425F;
    --primary500: #3961AA;
    --primary400: #2683F2;
    --primary300: #78B4FB;
    --primary200: #CBE3FF;
    --primary100: #EBF1FB;
    --primaryTwo: #707f8d;

    --dark: #001a34;
    --red: #FF4848;
    --red-dark: #cc3333;
    --green: #24CA8E;
    --green-dark: #1fa876;
    --yellow: #FFDA16;
    --pink: #FA8080;
    --orange: #D86D00;
    --gray: #3D3D3D;

    --blue: #005bff;
    --blue-dark: #065cc5;

    --bg-page: #f2f5f7;
    --stand-bg: rgba(235, 241, 251, 0.4);
    --shadow-primary: 0 4px 12px 1px rgba(36, 38, 41, 0.078);
    --shadow-secondary: 0px 4px 4px rgba(0, 0, 0, 0.1);

    --hover-primary: #e9e9e9;

    @media (max-width:$desktop) {
        --shadow-primary: 0 3px 2px 0px rgba(36, 38, 41, 0.078);
        --shadow-secondary: 0px 3px 3px rgba(0, 0, 0, 0.05);
    }
}


// others vars
$transitionSpeed: 0.4s;
$transitionSpeedFast: 0.2s;
$transitionFunction: ease-in-out;
